



    <h1>Welcome, @ViewBag.User.firstName @ViewBag.User.lastName</h1>
    <a href="Logout"><button>Done Here? Logout</button></a>

<!-- ======================================================================================== -->
<!-- TO DISPLAY ALL MY Users -->
<!-- ======================================================================================== -->

@{
    foreach(var user in ViewBag.Users){
        <h3>Name: @user.firstName @user.lastName -- Email: @user.email -- @user.created_at</h3>
    }
}
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
